body {
    width: 100%;
    min-height: 100vh;
    background: #131417;
}

.log-reg-div {
    background: #2c303a;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}

.logo {
    position: relative;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.content-div {
    width: 800px;
    height: 100%;
    background: #404450;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

.cust-table {
    color: white;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
}

.table-hdr {
    border-style: none none solid none;
}

#transfers-table-row td {
    transition: 200ms;
}

#transfers-table-row:hover td {
    background-color: #3d414d;
}

.dlt-cnf-btn {
    width: 136px;
    margin: 0 7px 0 7px;
    display: block;
}

.width-30p {
    width: 30%;
}

.width-20p {
    width: 20%;
}

.fs32 {
    font-size: 32px;
}

.fs28 {
    font-size: 28px;
}

.fs20 {
    font-size: 20px;
}

.fs16 {
    font-size: 16px;
}

.fs14 {
    font-size: 14px;
}

#user_dropdown {
    cursor: pointer;
    margin-right: 30px;
    color: whitesmoke;
    transition: 200ms;
}

#user_dropdown:hover {
    color: #007BFF;
}

#dlt_acc_div {
    margin-top: 10px;
    background: #515561;
    transform: translate(-40px);
    box-shadow: 0px 14px 19px 2px rgba(0,0,0,0.75);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: right;
}